* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
@mixin getBgColor($color){
  height: 100vh;
  background-color: $color;
  margin: 35px 60px;
  border-radius: 30px;
}


.container {
  width: 80%;
  margin: 0 auto;
}

body {
  background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
}
#root {
@include getBgColor(#fff);
  box-shadow: 0 5px 20px rgba(#0000, 0.4);

}

.background {
  position: absolute;
  pointer-events: none;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}
